@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Recursive:CASL@1&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.menu {
    position: fixed;
    height: 8vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3CFD9;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8833A;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.menuPadding {
    height: 8vh;
}
